* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "basic";
}

@font-face {
  font-family: "basic";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

.hlavička {
  z-index: 20;
  width: 100%;
  position: fixed;
  background-color: #304c89;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.hlavička img {
  width: 40px;
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  font-size: 2vw;
}

a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
  text-decoration: none;
  color: white;
}

.hero,
.domovSBS {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

.hero .hero-bckr video {
  position: absolute;
}

.hero .hero-bckr video source {
  position: absolute;
}

.heroText {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 900px;
  z-index: 2;
}

.hero .heroText button {
  margin: 20px auto;
}
.hero .heroText h1,
.domovSBS article h1 {
  font-size: 380%;
  text-decoration: underline;
}

.heroText h1,
p,
.domovSBS article h1,
p {
  font-size: 150%;
  text-align: center;
  color: white;
}

.domovOnas {
  height: 80vh;
  position: relative;
  display: flex;
  background-color: #0d5aff;
  overflow: hidden;
}

.domovOnas::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/backgroundOnasDomov.png");
  background-size: cover;
  opacity: 0.3;
}

.domovOnas article {
  width: 55vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.domovOnas article p,
h1 {
  color: white;
  text-align: justify;
}

.domovOnas article h1 {
  font-size: 290%;
}

.domovOnas article p {
  font-size: 120%;
}

button {
  width: 150px;
  padding: 8px;
  border-radius: 50px;
  border: none;
  background-color: #ffbb00;
  color: white;
}

.domovOnas .kontajnerSikmyObrazok {
  overflow: hidden;
  position: relative;
}

.domovOnas div img {
  height: 100%;
}

.domovOnas .kontajnerSikmyObrazok::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 200%;
  transform: rotate(15deg);
  left: -25vw;
  top: -390px;
  background-color: #0d5aff;
}

.domovSBS article {
  z-index: 2;
  width: 60vw;
  position: absolute;
}

.domovSBS article h1 {
  text-align: center;
  font-size: 380%;
}

.domovSBS img {
  filter: brightness(70%);
  width: 100%;

  height: auto;
}

.domovVeduciZboru {
  background-color: #0d5aff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 90vh;
}

.domovVeduciZboru h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 380%;
}

.domovVeduciZboru article {
  margin: 20px;
  gap: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.domovVeduciZboru article div {
  order: 2;
}

.domovVeduciZboru article div p {
  text-align: left;
}

.domovVeduciZboru article h2 {
  font-size: 200%;
  color: white;
}

.domovVeduciZboru article img {
  order: 1;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: none;
}
